# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/
ENV/

# SQLite database
*.db
*.sqlite
*.sqlite3

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

logs/



# Load testing results
*-results.json
k6-results/
